# Editor config
.vscode

# Cache
__pycache__
.pvcache

# Media, test, build files
*.out
*.mid
*.mp3
*.mp4
*.wav

*.o
*.so

*.deb
*.egg-info
*.whl

# C++
include
lib

# Specific
!examples/*

/build/build
/build/dist
/build/pv
/build/pvkernel

/docs/_build

/src/pianosynth/pianosynth
/src/pvkernel/last_compiled.txt
/src/test*.py

/trash
