.vscode

__pycache__
.pvcache

include
lib

*.json
*.out
*.mid
*.mp3
*.mp4
*.wav

!examples/*

*.o
*.so

/build/*.deb
/build/*.egg-info
/build/build
/build/dist

/docs/_build
/docs/_static
/docs/_templates

/lib

/src/pianosynth/pianosynth
/src/pvkernel/last_compiled.txt
/src/test*.py

/trash
